<div>
  <svg
    width="17.462502mm"
    height="8.2020817mm"
    viewBox="0 0 17.462502 8.2020817"
    version="1.1"
    id="svg17393"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs id="defs17390"></defs>
    <g id="layer1">
      <path
        id="rect7845"
        style="font-variation-settings:normal;vector-effect:none;fill:#0ba84d;fill-opacity:1;fill-rule:evenodd;stroke-width:0.285726;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
        d="m 0,0.26458159 v 3.96875001 3.96875 H 3.96875 7.9375 v -3.96875 H 3.96875 V 0.26458159 Z"
      ></path>
      <rect
        style="font-variation-settings:normal;vector-effect:none;fill:#2c5df8;fill-opacity:1;fill-rule:evenodd;stroke-width:0.285726;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000"
        id="rect7849"
        width="3.96875"
        height="7.9375"
        x="9.2604141"
        y="0.26457787"></rect>
      <ellipse
        style="font-variation-settings:normal;fill:#842cf8;fill-opacity:1;fill-rule:evenodd;stroke-width:0.304775;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000"
        id="path7903"
        cx="15.345833"
        cy="2.1166668"
        rx="2.116668"
        ry="2.1166668"></ellipse>
      <ellipse
        style="font-variation-settings:normal;fill:#f82c67;fill-opacity:1;fill-rule:evenodd;stroke-width:0.304775;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;stop-color:#000000"
        id="path7903-9"
        cx="6.0854187"
        cy="2.1166668"
        rx="2.116668"
        ry="2.1166668"></ellipse>
    </g>
  </svg>
</div>
